.spaced-buttons{
    margin-right: 5px;
  }
  
  .modern-square {
    width: 510px;
    height: 412px;
    margin: 0 auto; /*center the container*/
    background-color: #2ac74c; /* you can adjust the color as desired*/
    box-shadow: 0px 0px 10px 0px
  }