body {
  font-family: monospace, sans-serif;
  font-weight: bolder;
}



.spaced-buttons{
    margin-right: 5px;
  }
  
  .modern-square {
    width: 510px;
    height: 450px;
    margin: 0 auto; 
    background-color: #949491;
    box-shadow: 0px 0px 10px 0px;
    border-radius: 10px;
  }

  #joblist {
    margin-left: 20px; 
  }

  .list-unstyled li a {
    color: black;
  }
  
  #paragraph1{
    font-size: large;
  }